<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Attempt Test</title>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="title">Attempt Test</div>
      <div class="content">
        <form action="/submit-test" method="post">
          {{#each questions}}
            <div class="question-container">
              <div class="question">
                <b>Q{{@index}}: </b><span class="question-text">{{question}}</span>
              </div>
              <div class="option-container">
                {{#each options}}
                  <span class="option-text"><label><input name="{{../_id}}" id={{@index}} value={{@index}} type="radio" />
                  {{this}}</label></span>
                {{/each}}
              </div>
            </div>
          {{/each}}
          <div class="button">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
