<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report</title>
    <link rel="stylesheet" href="css/app.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

  </head>
  <body>
    <center>
      <h2>REPORTS OF {{user.fullname}}</h2>
    </center>
    <div class="container">

      <table class="flex-column flex-center">
        <caption>REPORT</caption>
        <tr>
          <th>Student Name</th>
          <th>Roll Number</th>
          <th>Sem & Sec</th>
          <th>Marks</th>
        </tr>
        <div class="question-container">
          <div class="question">
            <tr>
              <td>{{user.fullname}}</td>
              <td>{{user.rno}}</td>
              <td>{{user.sem}}</td>
              <td>{{user.score}}</td>
            </tr>
          </div>
        </div>

      </table>

      <a href="/logged-in-student" class="bk-button">Go Back</a>
    </div>

  </body>
</html>